@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  border: 0px;
  margin: 0px;
}
body {
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.inline-flex {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 3em 3em;
}

#header {
  width: 100vw;
  height: 60px;
  border-bottom: 2px solid black;
  padding: 0px 10px 0px 10px;
}
#tools {
  border: 2px solid rgba(110, 106, 106, 0.985);
  border-radius: 50px;
  padding: 0.2em;
  width: 20em;
  height: 2.6em;
}
.color-selector {
  width: 1.7em;
  height: 1.7em;
  border: 3px solid white;
  border-radius: 50%;
}
/* ===============
color button highlights
=============================== */
.red[selector="true"] {
  border-color: black;
}
.red[selector="false"] {
  border-color: white;
}
.green[selector="true"] {
  border-color: black;
}
.green[selector="false"] {
  border-color: white;
}
.blue[selector="true"] {
  border-color: black;
}
.blue[selector="false"] {
  border-color: white;
}
.black[selector="true"] {
  border-color: black;
}
.black[selector="false"] {
  border-color: white;
}

.pallette {
  gap: 0.5em 0.5em;
}
#erase {
  border: 1.5px solid black;
  padding: 0.2em;
  cursor: pointer;
}
